In [5]:
from shapely.geometry import shape, Point, Polygon
from shapely.ops import cascaded_union
import pandas
import json

In [29]:
BG_centroids = pandas.read_csv('BG_centroids.csv')
BG_centroids.head()

         gis_id        long        lat
0  530330001001 -122.284690  47.726825
1  530330001002 -122.292467  47.729319
2  530330001003 -122.289454  47.722812
3  530330001004 -122.294451  47.731938
4  530330001005 -122.294437  47.722929

In [30]:
BG_centroids['school'] = 'nan'

In [31]:
#load in the school boundary polygons
with open('sps_hs.geojson') as f:
    js = json.load(f)

In [32]:
#for each BG, find which polygon (school boundary zone) the BG centroid is in, and assign the school name to that BG
count = 0
for ind, BG in BG_centroids.iterrows():
    #print(stop['stop_lat'], stop['stop_lon'])
    point = Point(BG['long'], BG['lat'])
    #print(point)
    for feature in js['features']:
        #print(feature)
        polygon = shape(feature['geometry'])
        #print(polygon.contains(point))
        if polygon.contains(point):
            count = count + 1
            found_polygon = feature['properties']
            #print(found_polygon['ES_ZONE'])
            BG_centroids.loc[ind, 'school'] = found_polygon['HS_ZONE']
            #print('Found containing polygon:', feature['properties'])
            break

In [33]:
BG_centroids.head()

         gis_id        long        lat       school
0  530330001001 -122.284690  47.726825  Nathan Hale
1  530330001002 -122.292467  47.729319  Nathan Hale
2  530330001003 -122.289454  47.722812  Nathan Hale
3  530330001004 -122.294451  47.731938  Nathan Hale
4  530330001005 -122.294437  47.722929  Nathan Hale

In [34]:
BG_centroids.to_csv('BG_sps_hs.csv')