In [1]:
import math
import pandas
import json
from shapely.geometry import shape, Point, Polygon
from shapely.ops import cascaded_union
import googlemaps

In [6]:
#a place to save the permit values and number to a BG
SHA = pandas.read_csv('SHA.csv',encoding = "ISO-8859-1")

In [7]:
SHA.head()

                                      address  lat  long
0          2445 NW 57th St, Seattle, WA 98107  NaN   NaN
1       9201 Rainier Ave S, Seattle, WA 98118  NaN   NaN
2  1311 S Massachusetts St, Seattle, WA 98144  NaN   NaN
3             2215 1st Ave, Seattle, WA 98121  NaN   NaN
4           620 N 130th St, Seattle, WA 98133  NaN   NaN

In [9]:
gmaps = googlemaps.Client(key='AIzaSyCdf4dvjg63y-aOZdyZ-HIB8TesmsDIHVM')
# Geocoding an address
geocode_result = gmaps.geocode('41 Borgen Boulevard, Gig Harbor, WA')
print(geocode_result[0]['geometry']['location'])

{'lat': 47.35988700000001, 'lng': -122.6012625}

In [11]:
def get_coords(address):
    result = gmaps.geocode(address)
    lat = result[0]['geometry']['location']['lat']
    long = result[0]['geometry']['location']['lng']
    return (lat,long)

In [16]:
for ind, apartment in SHA.iloc[1:].iterrows():
    address = apartment['address']
    (lat, long) = get_coords(address)
    
    SHA.set_value(ind, 'lat', lat)
    SHA.set_value(ind, 'long', long)

In [17]:
SHA.head()

                                      address        lat        long
0          2445 NW 57th St, Seattle, WA 98107  47.669643 -122.389788
1       9201 Rainier Ave S, Seattle, WA 98118  47.520612 -122.270477
2  1311 S Massachusetts St, Seattle, WA 98144  47.588210 -122.315593
3             2215 1st Ave, Seattle, WA 98121  47.612796 -122.346130
4           620 N 130th St, Seattle, WA 98133  47.723733 -122.350882

In [18]:
#save to an appropriate file
SHA.to_csv('SHA_coords.csv')